In [6]:
import pandas as pd
import unicodedata
#result = pd.read_excel(r'C:\Users\Lenovo\Desktop\VSSID\Excel\DANHSACHKHONGTIMTHAY_REF.xlsx', dtype=str)

In [124]:
from pathlib import Path
new_path = r'C:\Users\Lenovo\Desktop\VSSID\PDF'
for index, row in result.iterrows():
    file_name = row['LINKFILE']
    Desktop = Path(r'C:\Users\Lenovo\Desktop\Data\TTDVVL\2019' + '\\' + row['folder'] + "\\" + file_name + ".pdf")
    #print(file_name)
    Desktop_new = Path(r'C:\Users\Lenovo\Desktop\VSSID\PDF' + "\\" + file_name + ".pdf")
    shutil.copy(Desktop,Desktop_new)

In [2]:
from cryptography.fernet import Fernet
import pandas as pd

In [38]:
key = b'A5hhEj9WQKL1Vqvs8p3cfnBlr3T-6RiwP0X4e7z33DA='
#key = Fernet.generate_key()       
cipher_suite = Fernet(key)
data = {'Name': ['Alice', 'Bob', 'Charlie'],
                'Age': [25, 30, 35],
                'Salary': [50000, 60000, 0]
        }
df = pd.DataFrame(data)
encrypted_data = df.iloc[:, 2:].apply(lambda x: x.map(lambda val: cipher_suite.encrypt(str(val).encode())))     
result_df = pd.concat([df[['Name','Age']], encrypted_data], axis=1)
result_df

      Name  Age                                             Salary
0    Alice   25  b'gAAAAABlBlT-o1dYO2sBBjGvikUaVpetnae2Uyo4befF...
1      Bob   30  b'gAAAAABlBlT-HAztnTaTNisZ7-2zGtf_1MlOjJ2Stf_g...
2  Charlie   35  b'gAAAAABlBlT-QEQqAkJEdHxR6TqrDLmDDOR66CknKxoO...

In [19]:
result_df.to_excel(r'C:\Users\PC\Desktop\EN\encrypted_data.xlsx',index = False)

In [20]:
import ast
def convert_to_bytes(byte_string):
    try:
        return ast.literal_eval(byte_string)
    except (ValueError, SyntaxError):
        return None

In [25]:
key = b'A5hhEj9WQKL1Vqvs8p3cfnBlr3T-6RiwP0X4e7z33DA='
cipher_suite = Fernet(key)  
encrypted_data_excel = pd.read_excel(r'C:\Users\PC\Desktop\EN\encrypted_data.xlsx')  
for column in encrypted_data_excel.columns[1:]:
    encrypted_data_excel[column] = encrypted_data_excel[column].apply(convert_to_bytes)
encrypted_data_excel

,Name,Age,Salary
0,Alice,b'gAAAAABlBlLP86ylkRxandkiNM8Z-dKMKhwHjw0_wGYA...,b'gAAAAABlBlLPWSD8c1c5fdeErsP69wTbYuycjXZ02UHw...
1,Bob,b'gAAAAABlBlLPyiv_gUpsqRS7RieUbk7yiDQdy3QHY2Tc...,b'gAAAAABlBlLP4YqkgdjTgANFUfvD-XpGeZbHP0ie4EcQ...
2,Charlie,b'gAAAAABlBlLPkA2FTA18vZS6tZViVNCnVk2ALussM1-y...,b'gAAAAABlBlLPmQlMGCQ09byrNbhCxRI2H2Ayfm5O5IXq...

In [27]:
# decrypted_data = encrypted_data_excel.applymap(lambda x: cipher_suite.decrypt(x).decode('utf-8'))   
# decrypted_data
decrypted_data = encrypted_data_excel.iloc[:, 1:].applymap(lambda x: cipher_suite.decrypt(x).decode('utf-8'))  
result_df_DE = pd.concat([encrypted_data_excel['Name'], decrypted_data], axis=1) 
result_df_DE

      Name Age Salary
0    Alice  25  50000
1      Bob  30  60000
2  Charlie  35  75000

In [32]:
decrypted_data.to_excel(r'C:\Users\PC\Desktop\EN\decrypted_data.xlsx',index = False)

In [ ]:
import sqlite3
db_path = r'E:\Project\APP_BHXH_HG\DB\APP_BHXH_HG_DB.db'       

check_item = ['DOT_PHAT_SINH_2' , 'DOT_PHAT_SINH_1']
placeholders = ",".join(["?"] * len(check_item))
conn = sqlite3.connect(db_path)
cur = conn.cursor()  
query = f"SELECT ID,MASO_BHXH,HO_TEN,NGAY_SINH,DIA_CHI,GIOI_TINH,CCCD,MA_DKBD,SO_BIEN_LAI,NGAY_BIEN_LAI,SO_THANG,TY_LE,SO_TIEN,HAN_THE_TU_NGAY,DOT_PHAT_SINH,GHI_CHU FROM RECEIPTS WHERE  NGAY_BIEN_LAI BETWEEN ? AND ? AND DOT_PHAT_SINH IN ({placeholders})"
print(query)
cur.execute(query, ( ['05/10/2023', '06/10/2023' ] +  check_item))    
result = cur.fetchall()
for row in result:
    print("ID:", row[0], "A:", row[1], "NGAY_BIEN_LAI:", row[2])

In [2]:
from datetime import datetime
current_datetime = datetime.now()
formatted_datetime = current_datetime.strftime('%d%m%Y_%H%M%S')

# Print the formatted date and time
print(formatted_datetime)

07102023_090954