In [ ]:
import pandas as pd
import glob
import matplotlib.pyplot as plt
import numpy as np
folder_excel = r'C:\Users\PC\Desktop\TAI_TANG_GIAM\KET_QUA'
FileName_Excel = "KETQUA_XYLY_TANGGIAM_23092023.xlsx"
# Đọc file excel từ pandas
result = pd.read_excel(folder_excel + "\\" + FileName_Excel , dtype=str)

In [ ]:
list_colunms_name = ['STT', 'MA_NV','HOTEN', 'NGAY_VAO', 'LUYKE']
for i in range(1, 32):
   list_colunms_name.append(str(i))
#list_colunms_name

In [ ]:
# Đổi tên cột theo vị trí
# result.columns.values[2] = 'HO_TEN'
# lấy ra 10 dòng đầu tren dataframe
result.head(10)
# cài đặt vị trí cho các cột
index_colunms = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35]       
# khử các cột giữ lại các cột theo vị trí index cho trước         
df =  result.iloc[:,index_colunms] 
# đặt tên cho các cột trong dataframe theo vị trí
df.columns = list_colunms_name

In [ ]:
# bỏ các giá trị N/A trong 1 cột bất kỳ
df.dropna(subset = ['STT'], inplace=True)

In [ ]:
# Kỹ thuật chuyển đổi dữ liệu Unpivot table .........................................................
finished_data = pd.melt(df, id_vars=['STT','MA_NV','HOTEN','NGAY_VAO','LUYKE'], var_name='NGAY_CONG', value_name='GIA_TRI')

In [ ]:
# Xuất dữ liệu file excel từ pandas
finished_data.to_excel(r'C:\Users\PC\Desktop\CHAMCONG_T3_2023\KET_QUA.xlsx', index = False)

In [ ]:
from datetime import timedelta
# Kỹ thuật tăng giá trị chi tiết cho các dòng theo ngày từ dữ liệu từ ngày đến ngày.
for index, row in result.iterrows():
    #print(result.loc[index , 'SO_NGAY'])  
    for i in range(0 , result.loc[index ,'SO_NGAY']): 
        if i > 0:
            result.loc[index,'TU_NGAY'] = pd.to_datetime(result.loc[index,'TU_NGAY']) + timedelta(days = 1) 
        else:
            result.loc[index,'TU_NGAY'] = pd.to_datetime(result.loc[index,'TU_NGAY'])
        data = {'NHOM_HUONG': result.loc[index,'NHOM_HUONG'],
                'MASO_BHXH': result.loc[index,'MASO_BHXH'],
                'THE_BHYT': result.loc[index,'THE_BHYT'],
                'HO_TEN': result.loc[index,'HO_TEN'],
                'NGAY_SINH': result.loc[index,'NGAY_SINH'],
                'TU_NGAY': result.loc[index,'TU_NGAY'],
                'DEN_NGAY': result.loc[index,'DEN_NGAY'],
                'SO_NGAY': result.loc[index,'SO_NGAY']
                }
        data_df = pd.DataFrame(data , index = False)
        finish_data = finish_data.append(data_df)
finish_data.to_excel(r'C:\Users\taitt.haugiang.VSS\Desktop\LACTY_TACH_NGAY\KET_QUA.xlsx')

In [ ]:
# hiển thị dữ liệu thống kê
result.describe(include='all')

In [19]:
import pandas as pd
import glob
import matplotlib.pyplot as plt
import numpy as np
folder_excel = r'D:\DULIEU_DEMO_DF'
FileName_Excel = "DEMO.xlsx"
# Đọc file excel từ pandas
result = pd.read_excel(folder_excel + "\\" + FileName_Excel , dtype=str) 
#print(result)
# Sắp xếp dữ liệu của một dataframe with two colunm 
result.sort_values(by=['STT', 'NGAY'], ascending = False, inplace=True)
# Xóa trùng với điều kiện chỉ định 1 cột bất kỳ với tên
result = result.drop_duplicates(subset=['STT'], keep ='first')

In [ ]:
# Đọc toàn bộ file excel trong thư mục và nối dữ liệu xử lý
import os
folder_path = 'D:\DULIEU_DEMO_DF'
files = os.listdir(folder_path)    
excel_files = [file for file in files if file.endswith('.xlsx') or file.endswith('.xls')]
dfs = {}
for file in excel_files:
    file_path = os.path.join(folder_path, file)
    df = pd.read_excel(file_path , dtype='str')
    dfs[file] = df
result_df = pd.concat(dfs, ignore_index=True)
result_df

In [ ]:
import pandas as pd
import glob
import matplotlib.pyplot as plt
import numpy as np
folder_excel = r'D:\DULIEU_DEMO_DF'
FileName_Excel = "DEMO.xlsx"
# Đọc file excel từ pandas và ghép tất cả dữ liệu của sheet vào cùng 1 dữ liệu
all_sheets = pd.read_excel(folder_excel + "\\" + FileName_Excel, sheet_name=None)
combined_data = pd.concat(all_sheets.values(), ignore_index=True)
combined_data

In [18]:
# Xuất dữ liệu Dataframe ra thư mục
output_file_path = r'D:\DULIEU_DEMO_DF.xlsx'
combined_data.to_excel(output_file_path ,  index =False)

In [20]:
result

   STT         HO_TEN        NGAY
9    9  Nguyễn văn A3  01-01-1998
8    8  Nguyễn văn A2  01-01-1997
7    7  Nguyễn văn A1  01-01-1996
6    6   Nguyễn văn G  01-01-1995
5    5   Nguyễn văn F  01-01-1994
4    4   Nguyễn văn D  01-01-1993
3    3   Nguyễn văn C  01-01-1992
2    2   Nguyễn văn B  01-01-1991
10  10  Nguyễn văn A4  01-01-1999
0    1   Nguyễn văn A  01-01-1992

In [ ]:
# Lọc dữ liệu trong Dataframe
# data = result[(result['HO_TEN'] != 'Nguyễn văn A3')]