In [1]:
import pandas as pd
import glob
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
# Read All File Excel in Directory and merge all sheet in file excel to one Sheet
file_list = glob.glob(r'D:\SOLIEU\DATUYENDEN2021\QUY2\DATA\*.xlsx')
files = []

In [148]:
for filename in file_list:
    df = pd.concat(pd.read_excel(filename, sheet_name=None), ignore_index=True)
    files.append(df)
frame = pd.concat(files, axis=0, ignore_index=True)

In [150]:
data = frame[(frame['GIAM_DINH'] != 3) & (frame['LOAI_BN'] == 3)]

In [154]:
result = data[["XML1_ID", "MA_THE","GIOI_TINH","HO_TEN","MA_DKBD","T_TONGCHI","T_BNCCT","T_BNTT","T_BHTT","MA_CSKCB","MA_LOAIKCB","LOAI_BN","T_DATUYEN"]].copy()

In [155]:
result.describe()

,XML1_ID,GIOI_TINH,MA_DKBD,T_TONGCHI,T_BNCCT,T_BNTT,T_BHTT,MA_CSKCB,MA_LOAIKCB,LOAI_BN,T_DATUYEN
count,"37,611.00","37,611.00","37,611.00","37,611.00","37,611.00","37,611.00","37,611.00","37,611.00","37,611.00","37,611.00","37,611.00"
mean,"1,667,174,984.67",1.59,"91,439.05","499,551.70","39,716.80","1,317.02","458,517.88","93,040.51",1.27,3.00,0.00
std,"16,831,011.42",0.49,"5,350.75","1,470,159.93","191,511.04","41,464.83","1,349,547.80",43.48,0.67,0.00,0.00
min,"1,636,215,354.00",1.00,"1,006.00","9,139.21",0.00,0.00,"9,139.21","93,001.00",1.00,3.00,0.00
25%,"1,653,198,913.00",1.00,"91,710.00","74,496.49",0.00,0.00,"74,496.49","93,005.00",1.00,3.00,0.00
50%,"1,667,295,533.00",2.00,"92,088.00","121,164.00",0.00,0.00,"121,164.00","93,016.00",1.00,3.00,0.00
75%,"1,681,809,604.50",2.00,"94,075.00","220,690.33",0.00,0.00,"210,985.00","93,102.00",1.00,3.00,0.00
max,"1,703,411,717.00",2.00,"98,489.00","79,185,071.00","8,181,925.53","4,797,000.00","79,185,071.00","93,107.00",3.00,3.00,0.00

In [156]:
result.loc[result['MA_CSKCB'].astype(str) == '93001', 'MA_CHA'] = '93001'
result.loc[(result['MA_CSKCB'].astype(str) == '93002') | (result['MA_CSKCB'].astype(str) == '93048') | (result['MA_CSKCB'].astype(str) == '93049') | (result['MA_CSKCB'].astype(str) == '93050') | (result['MA_CSKCB'].astype(str) == '93051') | (result['MA_CSKCB'].astype(str) == '93052')| (result['MA_CSKCB'].astype(str) == '93053') | (result['MA_CSKCB'].astype(str) == '93054') | (result['MA_CSKCB'].astype(str) == '93055') | (result['MA_CSKCB'].astype(str) == '93057')  | (result['MA_CSKCB'].astype(str) == '93080'), 'MA_CHA'] = '93002'
result.loc[(result['MA_CSKCB'].astype(str) == '93003') | (result['MA_CSKCB'].astype(str) == '93019') | (result['MA_CSKCB'].astype(str) == '93058') | (result['MA_CSKCB'].astype(str) == '93059') | (result['MA_CSKCB'].astype(str) == '93060') | (result['MA_CSKCB'].astype(str) == '93061')| (result['MA_CSKCB'].astype(str) == '93092') | (result['MA_CSKCB'].astype(str) == '93094') | (result['MA_CSKCB'].astype(str) == '93097')  | (result['MA_CSKCB'].astype(str) == '93104'), 'MA_CHA'] = '93003'
result.loc[(result['MA_CSKCB'].astype(str) == '93004') | (result['MA_CSKCB'].astype(str) == '93035') | (result['MA_CSKCB'].astype(str) == '93036') | (result['MA_CSKCB'].astype(str) == '93037') | (result['MA_CSKCB'].astype(str) == '93038') | (result['MA_CSKCB'].astype(str) == '93039')| (result['MA_CSKCB'].astype(str) == '93040') | (result['MA_CSKCB'].astype(str) == '93041') | (result['MA_CSKCB'].astype(str) == '93042')  | (result['MA_CSKCB'].astype(str) == '93043') | (result['MA_CSKCB'].astype(str) == '93044') | (result['MA_CSKCB'].astype(str) == '93045') | (result['MA_CSKCB'].astype(str) == '93046') | (result['MA_CSKCB'].astype(str) == '93047') | (result['MA_CSKCB'].astype(str) == '93089') | (result['MA_CSKCB'].astype(str) == '93090'), 'MA_CHA'] = '93004'
result.loc[(result['MA_CSKCB'].astype(str) == '93005') | (result['MA_CSKCB'].astype(str) == '93026') | (result['MA_CSKCB'].astype(str) == '93027') | (result['MA_CSKCB'].astype(str) == '93028') | (result['MA_CSKCB'].astype(str) == '93029') | (result['MA_CSKCB'].astype(str) == '93030')| (result['MA_CSKCB'].astype(str) == '93031') | (result['MA_CSKCB'].astype(str) == '93032') | (result['MA_CSKCB'].astype(str) == '93033')  | (result['MA_CSKCB'].astype(str) == '93087'), 'MA_CHA'] = '93005'
result.loc[(result['MA_CSKCB'].astype(str) == '93006') | (result['MA_CSKCB'].astype(str) == '93018') | (result['MA_CSKCB'].astype(str) == '93020') | (result['MA_CSKCB'].astype(str) == '93022') | (result['MA_CSKCB'].astype(str) == '93023') | (result['MA_CSKCB'].astype(str) == '93024')| (result['MA_CSKCB'].astype(str) == '93025') | (result['MA_CSKCB'].astype(str) == '93073') | (result['MA_CSKCB'].astype(str) == '93083')  | (result['MA_CSKCB'].astype(str) == '93084') | (result['MA_CSKCB'].astype(str) == '93086'), 'MA_CHA'] = '93006'
result.loc[(result['MA_CSKCB'].astype(str) == '93109') | (result['MA_CSKCB'].astype(str) == '93009') | (result['MA_CSKCB'].astype(str) == '93010') | (result['MA_CSKCB'].astype(str) == '93011') | (result['MA_CSKCB'].astype(str) == '93012') | (result['MA_CSKCB'].astype(str) == '93013')| (result['MA_CSKCB'].astype(str) == '93014') | (result['MA_CSKCB'].astype(str) == '93015') | (result['MA_CSKCB'].astype(str) == '93017')  | (result['MA_CSKCB'].astype(str) == '93082'), 'MA_CHA'] = '93109'
result.loc[(result['MA_CSKCB'].astype(str) == '93016') | (result['MA_CSKCB'].astype(str) == '93067') | (result['MA_CSKCB'].astype(str) == '93068') | (result['MA_CSKCB'].astype(str) == '93069') | (result['MA_CSKCB'].astype(str) == '93070') | (result['MA_CSKCB'].astype(str) == '93071')| (result['MA_CSKCB'].astype(str) == '93072'), 'MA_CHA'] = '93016'
result.loc[(result['MA_CSKCB'].astype(str) == '93078') | (result['MA_CSKCB'].astype(str) == '93062') | (result['MA_CSKCB'].astype(str) == '93063') | (result['MA_CSKCB'].astype(str) == '93064') | (result['MA_CSKCB'].astype(str) == '93065') | (result['MA_CSKCB'].astype(str) == '93066')| (result['MA_CSKCB'].astype(str) == '93095')| (result['MA_CSKCB'].astype(str) == '93096')| (result['MA_CSKCB'].astype(str) == '93098'), 'MA_CHA'] = '93078'
result.loc[result['MA_CSKCB'].astype(str) == '93007', 'MA_CHA'] = '93007'
result.loc[result['MA_CSKCB'].astype(str) == '93008', 'MA_CHA'] = '93008'
result.loc[result['MA_CSKCB'].astype(str) == '93100', 'MA_CHA'] = '93100'
result.loc[result['MA_CSKCB'].astype(str) == '93101', 'MA_CHA'] = '93101'
result.loc[result['MA_CSKCB'].astype(str) == '93102', 'MA_CHA'] = '93102'
result.loc[result['MA_CSKCB'].astype(str) == '93103', 'MA_CHA'] = '93103'
result.loc[result['MA_CSKCB'].astype(str) == '93105', 'MA_CHA'] = '93105'
result.loc[result['MA_CSKCB'].astype(str) == '93106', 'MA_CHA'] = '93106'
result.loc[result['MA_CSKCB'].astype(str) == '93107', 'MA_CHA'] = '93107'
result.loc[result['MA_CSKCB'].astype(str) == '93110', 'MA_CHA'] = '93110'

In [131]:
table = pd.pivot_table(result,index=['MA_CHA'],columns=['MA_LOAIKCB'],values=['T_BHTT'],aggfunc=['count','sum'], margins = True)

In [132]:
table = table.replace(np.nan, 0)

In [133]:
# Export Data to Excel
DataOutput = table
DataOutput.to_excel(r'D:\SOLIEU\TONGHOPSOLIEUDATUYEN.xlsx')

In [134]:
result_ref = pd.read_excel(r'D:\SOLIEU\DATUYENDEN2021\QUY2\QUYII2021-16082021\93_Q22021_trong_ky_2021_chapnhan_tbao_den_0.xlsx')

In [135]:
df_all = pd.merge(result, result_ref, left_on=['XML1_ID'] , right_on= ['ID_XML'] , how='left', indicator=True)

In [136]:
df_all = df_all[(df_all['_merge'] != "both")]

In [144]:
finish = df_all[["XML1_ID", "MA_THE_x","HO_TEN_x","GIOI_TINH_x","MA_DKBD_x","T_TONGCHI_x","T_BNCCT_x","T_BNTT_x","T_BHTT_x","MA_CSKCB_x","MA_LOAIKCB","LOAI_BN","T_DATUYEN_x"]]

In [145]:
finish

,XML1_ID,MA_THE_x,HO_TEN_x,GIOI_TINH_x,MA_DKBD_x,MA_DKBD_x,T_TONGCHI_x,T_BNCCT_x,T_BNTT_x,T_BHTT_x,MA_CSKCB_x,MA_LOAIKCB,LOAI_BN,T_DATUYEN_x
1542,1681987164,TE160KT00000021,CB:TRƯƠNG THỊ KIM PHƯỢNG,1,60000,60000,"79,914.77",0.00,0.00,"79,914.77",93002,1,3,0
8182,1638884579,TE191KT00048675,LA TỰ HÀO,1,91001,91001,"103,097.77",0.00,0.00,"103,097.77",93006,1,3,0
9822,1674827382,TE191KT00048675,LA TỰ HÀO,1,91001,91001,"106,566.54",0.00,0.00,"106,566.54",93006,1,3,0