In [46]:
import pandas as pd
import glob
import sqlite3

# Read sqlite query results into a pandas DataFrame
con = sqlite3.connect(r'D:\DATACSDL\CSDL\2021\bhyt7980a.db')
# kiểm tra mã đăng ký ban đầu đối với bệnh viện chuyên khoa do hiện tại chưa có thẻ đăng ký ban đầu tại 2 CSCKB trên địa bàn tỉnh
df = pd.read_sql_query(r'select MA_CSKCB,KY_QT,MA_BN,HO_TEN,NGAY_SINH,GIOI_TINH,MA_THE,MA_DKBD,GT_THE_TU,GT_THE_DEN,MA_BENH,TEN_BENH,MA_LYDO_VVIEN,NGAY_VAO,NGAY_RA,SO_NGAY_DTRI,T_TONGCHI,T_XN,T_CDHA,T_THUOC,T_MAU,T_TTPT,T_VTYT,T_DVKT_TYLE,T_THUOC_TYLE,T_VTYT_TYLE,T_KHAM,T_GIUONG,T_VCHUYEN,T_BNTT,T_BHTT,T_BNCCT,MA_KHOA,NAM_QT,QUY_QT,MA_LOAI_KCB' 
                       + ' from bhyt7980a' 
                       + ' WHERE KY_QT BETWEEN 202104 and 202104 and (MA_DKBD = "93008" OR MA_DKBD = "93100")', con)

In [47]:
DataOutput = df

In [48]:
# Export Data to Excel Error01
DataOutput.to_excel(r'D:\SOLIEU\DataOutput\DKBDSAI.xlsx',sheet_name='DKBDSAI')

In [49]:
# Thanh toán chi phí vận chuyển không đúng quy định tại điều 26 của NĐ 146
df = pd.read_sql_query(r'select MA_CSKCB,KY_QT,MA_BN,HO_TEN,NGAY_SINH,GIOI_TINH,MA_THE,MA_DKBD,GT_THE_TU,GT_THE_DEN,MA_BENH,TEN_BENH,MA_LYDO_VVIEN,NGAY_VAO,NGAY_RA,SO_NGAY_DTRI,T_TONGCHI,T_XN,T_CDHA,T_THUOC,T_MAU,T_TTPT,T_VTYT,T_DVKT_TYLE,T_THUOC_TYLE,T_VTYT_TYLE,T_KHAM,T_GIUONG,T_VCHUYEN,T_BNTT,T_BHTT,T_BNCCT,MA_KHOA,NAM_QT,QUY_QT,MA_LOAI_KCB' 
                       + ' from bhyt7980a' 
                       + ' WHERE KY_QT BETWEEN 202104 and 202104 and T_VCHUYEN > 0'
                       + ' and (MA_CSKCB in (93001,93008,93100,93007) or (MA_LYDO_VVIEN != 2 AND MA_LOAI_KCB IN (1,2)))', con)

In [50]:
DataOutput = df

In [51]:
# Export Data to Excel Error02 
DataOutput.to_excel(r'D:\SOLIEU\DataOutput\TIENVCKHONGDUNGQUYDINH.xlsx',sheet_name='TIENVCKHONGDUNGQUYDINH')

In [52]:
# Đăng ký KCB ban đầu tuyến tỉnh KCB (không cấp cứu) tại tuyến xã và PKĐK KV không phù hợp với khoản 4 điều 22 của Luật BHYT sửa đổi bổ sung
df = pd.read_sql_query(r'select MA_CSKCB,KY_QT,MA_BN,HO_TEN,NGAY_SINH,GIOI_TINH,MA_THE,MA_DKBD,GT_THE_TU,GT_THE_DEN,MA_BENH,TEN_BENH,MA_LYDO_VVIEN,NGAY_VAO,NGAY_RA,SO_NGAY_DTRI,T_TONGCHI,T_XN,T_CDHA,T_THUOC,T_MAU,T_TTPT,T_VTYT,T_DVKT_TYLE,T_THUOC_TYLE,T_VTYT_TYLE,T_KHAM,T_GIUONG,T_VCHUYEN,T_BNTT,T_BHTT,T_BNCCT,MA_KHOA,NAM_QT,QUY_QT,MA_LOAI_KCB' 
                       + ' from bhyt7980a' 
                       + ' WHERE KY_QT BETWEEN 202104 and 202104'
                       + ' and MA_CSKCB not in (93001,93002,93003,93004,93005,93006,93007,93008,93100,93102,93103,93016,93078)'
                       + ' and MA_DKBD in (93001,93007) and MA_LYDO_VVIEN != 2', con)

In [53]:
DataOutput = df

In [54]:
# Export Data to Excel Error03
DataOutput.to_excel(r'D:\SOLIEU\DataOutput\TUYENTINHKCBTUYENXAKCC.xlsx',sheet_name='TUYENTINHKCBTUYENXAKCC')

In [55]:
# Trùng ngoại trú với ngoại trú cùng 1 CSCKB có đợt KCB trùng chi phí
df = pd.read_sql_query(r'WITH data_ngoai_tru AS ('
                       + ' SELECT ID, MA_CSKCB,KY_QT,MA_BN,HO_TEN,NGAY_SINH,GIOI_TINH,MA_THE,MA_DKBD,GT_THE_TU,GT_THE_DEN,MA_BENH,TEN_BENH,MA_LYDO_VVIEN,NGAY_VAO,NGAY_RA,SO_NGAY_DTRI,T_TONGCHI,T_XN,T_CDHA,T_THUOC,T_MAU,T_TTPT,T_VTYT,T_DVKT_TYLE,T_THUOC_TYLE,T_VTYT_TYLE,T_KHAM,T_GIUONG,T_VCHUYEN,T_BNTT,T_BHTT,T_BNCCT,MA_KHOA,NAM_QT,QUY_QT,MA_LOAI_KCB'
                       + ' FROM bhyt7980a'
                       + ' WHERE MA_LOAI_KCB = 1 and KY_QT BETWEEN 202104 and 202104 ) ,'
                       + ' data_noi_tru AS ('
                       + ' SELECT  ID, MA_CSKCB,KY_QT,MA_BN,HO_TEN,NGAY_SINH,GIOI_TINH,MA_THE,MA_DKBD,GT_THE_TU,GT_THE_DEN,MA_BENH,TEN_BENH,MA_LYDO_VVIEN,NGAY_VAO,NGAY_RA,SO_NGAY_DTRI,T_TONGCHI,T_XN,T_CDHA,T_THUOC,T_MAU,T_TTPT,T_VTYT,T_DVKT_TYLE,T_THUOC_TYLE,T_VTYT_TYLE,T_KHAM,T_GIUONG,T_VCHUYEN,T_BNTT,T_BHTT,T_BNCCT,MA_KHOA,NAM_QT,QUY_QT,MA_LOAI_KCB'
                       + ' FROM bhyt7980a'
                       + ' WHERE MA_LOAI_KCB = 1 and KY_QT BETWEEN 202104 and 202104 )'
                       + ' SELECT a.MA_CSKCB,a.KY_QT,a.MA_BN,a.HO_TEN,a.NGAY_SINH,a.GIOI_TINH,a.MA_THE,a.MA_DKBD,a.GT_THE_TU,a.GT_THE_DEN,a.MA_BENH,a.TEN_BENH,a.MA_LYDO_VVIEN,a.NGAY_VAO,a.NGAY_RA,a.SO_NGAY_DTRI,a.T_TONGCHI,a.T_BNTT,a.T_BHTT,a.T_BNCCT,a.MA_KHOA,a.NAM_QT,a.QUY_QT,a.MA_LOAI_KCB'
                       + ' FROM data_ngoai_tru a'
                       + ' INNER JOIN data_noi_tru b'
                       + ' ON a.MA_THE = b.MA_THE AND a.MA_CSKCB = b.MA_CSKCB and Round(a.T_BHTT) = Round(b.T_BHTT)'
                       + ' AND julianday(date(a.NGAY_VAO)) - julianday(date(b.NGAY_VAO)) = 0 and a.ID <> b.ID'
                       + ' Order By a.MA_THE', con)

In [56]:
DataOutput = df

In [57]:
# Export Data to Excel
DataOutput.to_excel(r'D:\SOLIEU\DataOutput\TRUNGNGOAI-NGOAI.xlsx',sheet_name='TRUNGNGOAI-NGOAI')

In [58]:
# Trùng ngoại trú với đợt đang điều trị nội trú cùng 1 CSCKB có đợt KCB trùng chi phí
df = pd.read_sql_query(r'WITH data_ngoai_tru AS ('
                       + ' SELECT ID, MA_CSKCB,KY_QT,MA_BN,HO_TEN,NGAY_SINH,GIOI_TINH,MA_THE,MA_DKBD,GT_THE_TU,GT_THE_DEN,MA_BENH,TEN_BENH,MA_LYDO_VVIEN,NGAY_VAO,NGAY_RA,SO_NGAY_DTRI,T_TONGCHI,T_XN,T_CDHA,T_THUOC,T_MAU,T_TTPT,T_VTYT,T_DVKT_TYLE,T_THUOC_TYLE,T_VTYT_TYLE,T_KHAM,T_GIUONG,T_VCHUYEN,T_BNTT,T_BHTT,T_BNCCT,MA_KHOA,NAM_QT,QUY_QT,MA_LOAI_KCB'
                       + ' FROM bhyt7980a'
                       + ' WHERE MA_LOAI_KCB = 1 and KY_QT BETWEEN 202104 and 202104 ) ,'
                       + ' data_noi_tru AS ('
                       + ' SELECT  ID, MA_CSKCB,KY_QT,MA_BN,HO_TEN,NGAY_SINH,GIOI_TINH,MA_THE,MA_DKBD,GT_THE_TU,GT_THE_DEN,MA_BENH,TEN_BENH,MA_LYDO_VVIEN,NGAY_VAO,NGAY_RA,SO_NGAY_DTRI,T_TONGCHI,T_XN,T_CDHA,T_THUOC,T_MAU,T_TTPT,T_VTYT,T_DVKT_TYLE,T_THUOC_TYLE,T_VTYT_TYLE,T_KHAM,T_GIUONG,T_VCHUYEN,T_BNTT,T_BHTT,T_BNCCT,MA_KHOA,NAM_QT,QUY_QT,MA_LOAI_KCB'
                       + ' FROM bhyt7980a'
                       + ' WHERE MA_LOAI_KCB = 3 and KY_QT BETWEEN 202104 and 202104 )'
                       + ' SELECT a.MA_CSKCB as DTriNgoai,b.MA_CSKCB as DTriNoi,a.KY_QT,a.MA_BN,a.HO_TEN,a.NGAY_SINH,a.GIOI_TINH,a.MA_THE,a.MA_DKBD,a.GT_THE_TU,a.GT_THE_DEN,a.MA_BENH,b.MA_BENH,a.TEN_BENH,a.MA_LYDO_VVIEN,a.NGAY_VAO as NGAY_VAO_Kham_ngoai,a.NGAY_RA as NGAY_RA_Kham_ngoai,b.NGAY_VAO as NGAY_VAO_Kham_Noi,b.NGAY_RA as NGAY_RA_Kham_Noi,a.SO_NGAY_DTRI,a.T_TONGCHI,a.T_BNTT,a.T_BHTT,a.T_BNCCT,a.MA_KHOA,a.NAM_QT,a.QUY_QT,a.MA_LOAI_KCB'
                       + ' FROM data_ngoai_tru a'
                       + ' INNER JOIN data_noi_tru b'
                       + ' ON a.MA_THE = b.MA_THE AND date(a.NGAY_VAO) > date(b.NGAY_VAO) and date(a.NGAY_RA) < date(b.NGAY_RA)'
                       + ' Order By a.MA_THE', con)

In [59]:
DataOutput = df

In [60]:
# Export Data to Excel Error04
DataOutput.to_excel(r'D:\SOLIEU\DataOutput\TRUNGNGOAI-NOI.xlsx',sheet_name='TRUNGNGOAI-NOI')

In [61]:
# Trùng liên viện cùng 1 CSCKB có đợt KCB trùng chi phí
df = pd.read_sql_query(r'SELECT a.MA_CSKCB as CSKCB_A,b.MA_CSKCB as CSKCB_B,a.KY_QT,a.MA_BN,a.HO_TEN,a.NGAY_SINH,a.GIOI_TINH,a.MA_THE,a.MA_DKBD,a.GT_THE_TU,a.GT_THE_DEN,a.MA_BENH,b.MA_BENH,a.TEN_BENH,a.MA_LYDO_VVIEN,a.NGAY_VAO as NGAY_VAO_A,a.NGAY_RA as NGAY_RA_A,b.NGAY_VAO as NGAY_VAO_B,b.NGAY_RA as NGAY_RA_B,a.SO_NGAY_DTRI,a.T_TONGCHI,a.T_BNTT,a.T_BHTT,a.T_BNCCT,a.MA_KHOA,a.NAM_QT,a.QUY_QT,a.MA_LOAI_KCB'
                       + ' FROM bhyt7980a a'
                       + ' INNER JOIN bhyt7980a b'
                       + ' ON a.MA_THE = b.MA_THE AND a.ID <> b.ID'
                       + ' AND min(date(a.ngay_ra), date(b.ngay_ra)) > max(date(a.ngay_vao), date(b.ngay_vao))'
                       + ' AND a.NAM_QT = b.NAM_QT WHERE a.KY_QT BETWEEN 202104 and 202104'
                       + ' Order By a.MA_THE', con)

In [62]:
DataOutput = df

In [63]:
# Export Data to Excel Error05
DataOutput.to_excel(r'D:\SOLIEU\DataOutput\TRUNGLIENVIEN.xlsx',sheet_name='TRUNGLIENVIEN')

In [64]:
# Mã thẻ ngoài tỉnh tạo sai ĐKBĐ
df = pd.read_sql_query(r'SELECT MA_CSKCB,KY_QT,MA_BN,HO_TEN,NGAY_SINH,GIOI_TINH,MA_THE,MA_DKBD,GT_THE_TU,GT_THE_DEN,MA_BENH,TEN_BENH,MA_LYDO_VVIEN,NGAY_VAO,NGAY_RA,SO_NGAY_DTRI,T_TONGCHI,T_XN,T_CDHA,T_THUOC,T_MAU,T_TTPT,T_VTYT,T_DVKT_TYLE,T_THUOC_TYLE,T_VTYT_TYLE,T_KHAM,T_GIUONG,T_VCHUYEN,T_BNTT,T_BHTT,T_BNCCT,MA_KHOA,NAM_QT,QUY_QT,MA_LOAI_KCB'
                       + ' FROM bhyt7980a'                     
                       + ' WHERE SUBSTR(MA_DKBD,3,3) ="000" and LOAI_BN = 3 and SUBSTR(MA_DKBD,1,2) = "93"'
                       + ' AND KY_QT BETWEEN 202104 and 202104'
                       + ' Order By MA_THE', con)

In [65]:
DataOutput = df

In [66]:
# Export Data to Excel Error06
DataOutput.to_excel(r'D:\SOLIEU\DataOutput\THENGOAITINHSAIDKBD.xlsx',sheet_name='THENGOAITINHSAIDKBD')

In [67]:
df = pd.read_sql_query(r'select MA_CSKCB,KY_QT,MA_BN,HO_TEN,NGAY_SINH,GIOI_TINH,MA_THE,MA_DKBD,GT_THE_TU,GT_THE_DEN,MA_BENH,TEN_BENH,MA_LYDO_VVIEN,NGAY_VAO,NGAY_RA,SO_NGAY_DTRI,T_TONGCHI,T_XN,T_CDHA,T_THUOC,T_MAU,T_TTPT,T_VTYT,T_DVKT_TYLE,T_THUOC_TYLE,T_VTYT_TYLE,T_KHAM,T_GIUONG,T_VCHUYEN,T_BNTT,T_BHTT,T_BNCCT,MA_KHOA,NAM_QT,QUY_QT,MA_LOAI_KCB' 
                       + ' from bhyt7980a' 
                       + ' WHERE LOAI_BN = 3 AND MA_LYDO_VVIEN != 2'
                       + ' AND MA_CSKCB not in (93001,93002,93003,93004,93005,93006,93007,93008,93100,93016,93078,93102,93103)'
                       + ' AND SUBSTR(MA_DKBD ,1,2) != "93"'
                       + ' AND KY_QT BETWEEN 202104 AND 202104', con)

In [68]:
DataOutput = df

In [69]:
def set_status(DataOutput):
    if (DataOutput["MA_DKBD"] == "91707") & (DataOutput["MA_CSKCB"] == "93013") & (DataOutput["T_TONGCHI"] < (1490000 * 0.15)):
        return 'TRUE'
    elif ((DataOutput["MA_DKBD"] == "91604") | (DataOutput["MA_DKBD"] == "91606") | (DataOutput["MA_DKBD"] == "91706") | (DataOutput["MA_DKBD"] == "91707"))  & (DataOutput["MA_CSKCB"] == "93014") & (DataOutput["T_TONGCHI"] < (1490000 * 0.15)):
        return 'TRUE'
    elif ((DataOutput["MA_DKBD"] == "91707") | (DataOutput["MA_DKBD"] == "91709"))  & (DataOutput["MA_CSKCB"] == "93017") & (DataOutput["T_TONGCHI"] < (1490000 * 0.15)):
        return 'TRUE'
    elif (DataOutput["MA_DKBD"] == "92084")  & (DataOutput["MA_CSKCB"] == "93023") & (DataOutput["T_TONGCHI"] < (1490000 * 0.15)):
        return 'TRUE'
    elif (DataOutput["MA_DKBD"] == "92044")  & (DataOutput["MA_CSKCB"] == "93025") & (DataOutput["T_TONGCHI"] < (1490000 * 0.15)):
        return 'TRUE'
    elif (DataOutput["MA_DKBD"] == "92045")  & (DataOutput["MA_CSKCB"] == "93027") & (DataOutput["T_TONGCHI"] < (1490000 * 0.15)):
        return 'TRUE'
    elif (DataOutput["MA_DKBD"] == "92046")  & (DataOutput["MA_CSKCB"] == "93028") & (DataOutput["T_TONGCHI"] < (1490000 * 0.15)):
        return 'TRUE'
    elif (DataOutput["MA_DKBD"] == "92047")  & (DataOutput["MA_CSKCB"] == "93029") & (DataOutput["T_TONGCHI"] < (1490000 * 0.15)):
        return 'TRUE'
    elif ((DataOutput["MA_DKBD"] == "94081") | (DataOutput["MA_DKBD"] == "94087") | (DataOutput["MA_DKBD"] == "94100") | (DataOutput["MA_DKBD"] == "94095"))  & (DataOutput["MA_CSKCB"] == "93045") & (DataOutput["T_TONGCHI"] < (1490000 * 0.15)):
        return 'TRUE'
    elif ((DataOutput["MA_DKBD"] == "94081") | (DataOutput["MA_DKBD"] == "94087") | (DataOutput["MA_DKBD"] == "94100") | (DataOutput["MA_DKBD"] == "94095"))  & (DataOutput["MA_CSKCB"] == "93046") & (DataOutput["T_TONGCHI"] < (1490000 * 0.15)):
        return 'TRUE'
    elif (DataOutput["MA_DKBD"] == "91604")  & (DataOutput["MA_CSKCB"] == "93055") & (DataOutput["T_TONGCHI"] < (1490000 * 0.15)):
        return 'TRUE'
    elif (DataOutput["MA_DKBD"] == "91605")  & (DataOutput["MA_CSKCB"] == "93057") & (DataOutput["T_TONGCHI"] < (1490000 * 0.15)):
        return 'TRUE'
    elif (DataOutput["MA_DKBD"] == "94165")  & (DataOutput["MA_CSKCB"] == "93061") & (DataOutput["T_TONGCHI"] < (1490000 * 0.15)):
        return 'TRUE'
    elif ((DataOutput["MA_DKBD"] == "95055") | (DataOutput["MA_DKBD"] == "95054"))  & (DataOutput["MA_CSKCB"] == "93065") & (DataOutput["T_TONGCHI"] < (1490000 * 0.15)):
        return 'TRUE'
    elif ((DataOutput["MA_DKBD"] == "94077") | (DataOutput["MA_DKBD"] == "94081"))  & (DataOutput["MA_CSKCB"] == "93069") & (DataOutput["T_TONGCHI"] < (1490000 * 0.15)):
        return 'TRUE'
    elif ((DataOutput["MA_DKBD"] == "94077") | (DataOutput["MA_DKBD"] == "94081"))  & (DataOutput["MA_CSKCB"] == "93071") & (DataOutput["T_TONGCHI"] < (1490000 * 0.15)):
        return 'TRUE'
    elif ((DataOutput["MA_DKBD"] == "94077") | (DataOutput["MA_DKBD"] == "94078"))  & (DataOutput["MA_CSKCB"] == "93072") & (DataOutput["T_TONGCHI"] < (1490000 * 0.15)):
        return 'TRUE'
    elif (DataOutput["MA_DKBD"] == "91707")  & (DataOutput["MA_CSKCB"] == "93082") & (DataOutput["T_TONGCHI"] < (1490000 * 0.15)):
        return 'TRUE'
    elif (DataOutput["MA_DKBD"] == "92082")  & (DataOutput["MA_CSKCB"] == "93086") & (DataOutput["T_TONGCHI"] < (1490000 * 0.15)):
        return 'TRUE'
    elif (DataOutput["MA_DKBD"] == "94078")  & (DataOutput["MA_CSKCB"] == "93087") & (DataOutput["T_TONGCHI"] < (1490000 * 0.15)):
        return 'TRUE'
    elif (DataOutput["MA_DKBD"] == "94165")  & (DataOutput["MA_CSKCB"] == "93094") & (DataOutput["T_TONGCHI"] < (1490000 * 0.15)):
        return 'TRUE'
    elif ((DataOutput["MA_DKBD"] == "95020") | (DataOutput["MA_DKBD"] == "94166"))  & (DataOutput["MA_CSKCB"] == "93095") & (DataOutput["T_TONGCHI"] < (1490000 * 0.15)):
        return 'TRUE'
    elif ((DataOutput["MA_DKBD"] == "91710") | (DataOutput["MA_DKBD"] == "91711"))  & (DataOutput["MA_CSKCB"] == "93096") & (DataOutput["T_TONGCHI"] < (1490000 * 0.15)):
        return 'TRUE'
    elif ((DataOutput["MA_DKBD"] == "95032") | (DataOutput["MA_DKBD"] == "91710"))  & (DataOutput["MA_CSKCB"] == "93098") & (DataOutput["T_TONGCHI"] < (1490000 * 0.15)):
        return 'TRUE'
    else:
        return 'FALSE'

DataOutput['GHICHU'] = DataOutput.apply(set_status, axis=1)
# Tạo điều kiện lọc hồ sơ
index_names = DataOutput[DataOutput['GHICHU'] == 'TRUE' ].index 
# thực hiện xoá các hồ sơ cso điều kiện là đúng
DataOutput.drop(index_names, inplace = True)

In [70]:
# Export Data to Excel Error07
DataOutput.to_excel(r'D:\SOLIEU\DataOutput\GIAPRANHKCC.xlsx',sheet_name='GIAPRANHKCC')

In [71]:
# Trùng nội trú với ngoại trú cùng 1 CSCKB có đợt KCB liên tiếp trong cùng 1 ngày
df = pd.read_sql_query(r'WITH data_ngoai_tru AS ('
                       + ' SELECT ID, MA_CSKCB,KY_QT,MA_BN,HO_TEN,NGAY_SINH,GIOI_TINH,MA_THE,MA_DKBD,GT_THE_TU,GT_THE_DEN,MA_BENH,TEN_BENH,MA_LYDO_VVIEN,NGAY_VAO,NGAY_RA,SO_NGAY_DTRI,T_TONGCHI,T_XN,T_CDHA,T_THUOC,T_MAU,T_TTPT,T_VTYT,T_DVKT_TYLE,T_THUOC_TYLE,T_VTYT_TYLE,T_KHAM,T_GIUONG,T_VCHUYEN,T_BNTT,T_BHTT,T_BNCCT,MA_KHOA,NAM_QT,QUY_QT,MA_LOAI_KCB'
                       + ' FROM bhyt7980a'
                       + ' WHERE MA_LOAI_KCB = 3 and KY_QT BETWEEN 202104 and 202104 ) ,'
                       + ' data_noi_tru AS ('
                       + ' SELECT  ID, MA_CSKCB,KY_QT,MA_BN,HO_TEN,NGAY_SINH,GIOI_TINH,MA_THE,MA_DKBD,GT_THE_TU,GT_THE_DEN,MA_BENH,TEN_BENH,MA_LYDO_VVIEN,NGAY_VAO,NGAY_RA,SO_NGAY_DTRI,T_TONGCHI,T_XN,T_CDHA,T_THUOC,T_MAU,T_TTPT,T_VTYT,T_DVKT_TYLE,T_THUOC_TYLE,T_VTYT_TYLE,T_KHAM,T_GIUONG,T_VCHUYEN,T_BNTT,T_BHTT,T_BNCCT,MA_KHOA,NAM_QT,QUY_QT,MA_LOAI_KCB'
                       + ' FROM bhyt7980a'
                       + ' WHERE MA_LOAI_KCB = 1 and KY_QT BETWEEN 202104 and 202104 )'
                       + ' SELECT a.MA_CSKCB as CSKCBA,b.MA_CSKCB as CSKCBB ,a.KY_QT,a.MA_BN,a.HO_TEN,a.NGAY_SINH,a.GIOI_TINH,a.MA_THE,a.MA_DKBD,a.GT_THE_TU,a.GT_THE_DEN,a.MA_BENH,b.MA_BENH as MA_BENH_B,a.TEN_BENH,a.MA_LYDO_VVIEN,a.NGAY_VAO,a.NGAY_RA,b.NGAY_VAO as NGAY_VAO_B,b.NGAY_RA as NGAY_RA_B,a.SO_NGAY_DTRI,a.T_TONGCHI,a.T_BNTT,a.T_BHTT,a.T_BNCCT,b.T_TONGCHI,b.T_BNTT,b.T_BHTT,a.T_BNCCT,a.MA_KHOA,a.NAM_QT,a.QUY_QT,a.MA_LOAI_KCB'
                       + ' FROM data_ngoai_tru a'
                       + ' INNER JOIN data_noi_tru b'
                       + ' ON a.MA_THE = b.MA_THE AND a.MA_CSKCB = b.MA_CSKCB and SUBSTR(a.MA_BENH, 1, 1) == SUBSTR(b.MA_BENH, 1, 1)'
                       + ' AND julianday(date(b.ngay_vao)) - julianday(date(a.ngay_ra)) = 0' 
                       + ' Order By a.MA_THE', con)

In [72]:
DataOutput = df

In [73]:
# Export Data to Excel Error08
DataOutput.to_excel(r'D:\SOLIEU\DataOutput\NOITRUNGOAITRULIENTIEP.xlsx',sheet_name='NOITRUNGOAITRULIENTIEP')

In [74]:
# Trùng ngoại trú liên tiếp đợt sau là nội trú cùng 1 bệnh không đúng quy định tại khoản b điều 1 của CV627/BYT-BH
df = pd.read_sql_query(r'WITH data_ngoai_tru AS ('
                       + ' SELECT ID, MA_CSKCB,KY_QT,MA_BN,HO_TEN,NGAY_SINH,GIOI_TINH,MA_THE,MA_DKBD,GT_THE_TU,GT_THE_DEN,MA_BENH,TEN_BENH,MA_LYDO_VVIEN,NGAY_VAO,NGAY_RA,SO_NGAY_DTRI,T_TONGCHI,T_XN,T_CDHA,T_THUOC,T_MAU,T_TTPT,T_VTYT,T_DVKT_TYLE,T_THUOC_TYLE,T_VTYT_TYLE,T_KHAM,T_GIUONG,T_VCHUYEN,T_BNTT,T_BHTT,T_BNCCT,MA_KHOA,NAM_QT,QUY_QT,MA_LOAI_KCB'
                       + ' FROM bhyt7980a'
                       + ' WHERE MA_LOAI_KCB = 1 and KY_QT BETWEEN 202104 and 202104 ) ,'
                       + ' data_noi_tru AS ('
                       + ' SELECT  ID, MA_CSKCB,KY_QT,MA_BN,HO_TEN,NGAY_SINH,GIOI_TINH,MA_THE,MA_DKBD,GT_THE_TU,GT_THE_DEN,MA_BENH,TEN_BENH,MA_LYDO_VVIEN,NGAY_VAO,NGAY_RA,SO_NGAY_DTRI,T_TONGCHI,T_XN,T_CDHA,T_THUOC,T_MAU,T_TTPT,T_VTYT,T_DVKT_TYLE,T_THUOC_TYLE,T_VTYT_TYLE,T_KHAM,T_GIUONG,T_VCHUYEN,T_BNTT,T_BHTT,T_BNCCT,MA_KHOA,NAM_QT,QUY_QT,MA_LOAI_KCB'
                       + ' FROM bhyt7980a'
                       + ' WHERE MA_LOAI_KCB = 3 and KY_QT BETWEEN 202104 and 202104 )'
                       + ' SELECT a.MA_CSKCB as CSKCBA,b.MA_CSKCB as CSKCBB ,a.KY_QT,a.MA_BN,a.HO_TEN,a.NGAY_SINH,a.GIOI_TINH,a.MA_THE,a.MA_DKBD,a.GT_THE_TU,a.GT_THE_DEN,a.MA_BENH,b.MA_BENH as MA_BENH_B,a.TEN_BENH,a.MA_LYDO_VVIEN,a.NGAY_VAO,a.NGAY_RA,b.NGAY_VAO as NGAY_VAO_B,b.NGAY_RA as NGAY_RA_B,a.SO_NGAY_DTRI,a.T_TONGCHI,a.T_BNTT,a.T_BHTT,a.T_BNCCT,b.T_TONGCHI,b.T_BNTT,b.T_BHTT,a.T_BNCCT,a.MA_KHOA,a.NAM_QT,a.QUY_QT,a.MA_LOAI_KCB'
                       + ' FROM data_ngoai_tru a'
                       + ' INNER JOIN data_noi_tru b'
                       + ' ON a.MA_THE = b.MA_THE AND a.MA_CSKCB = b.MA_CSKCB and SUBSTR(a.MA_BENH, 1, 3) == SUBSTR(b.MA_BENH, 1, 3)'
                       + ' AND julianday(date(b.ngay_vao)) - julianday(date(a.ngay_ra)) = 0' 
                       + ' Order By a.MA_THE', con)

In [75]:
DataOutput = df

In [76]:
# Export Data to Excel Error09
DataOutput.to_excel(r'D:\SOLIEU\DataOutput\NGOAITRUNOITRULIENTIEPCUNGBENH.xlsx',sheet_name='NGOAITRUNOITRULIENTIEPCUNGBENH')

In [77]:
# Mã thẻ đa tuyến đến KCB tạo sai theo địa chỉ
df = pd.read_sql_query(r'SELECT MA_CSKCB,KY_QT,MA_BN,HO_TEN,NGAY_SINH,GIOI_TINH,MA_THE,MA_DKBD,GT_THE_TU,GT_THE_DEN,MA_BENH,TEN_BENH,MA_LYDO_VVIEN,NGAY_VAO,NGAY_RA,SO_NGAY_DTRI,T_TONGCHI,T_XN,T_CDHA,T_THUOC,T_MAU,T_TTPT,T_VTYT,T_DVKT_TYLE,T_THUOC_TYLE,T_VTYT_TYLE,T_KHAM,T_GIUONG,T_VCHUYEN,T_BNTT,T_BHTT,T_BNCCT,MA_KHOA,NAM_QT,QUY_QT,MA_LOAI_KCB'
                       + ' FROM bhyt7980a'                     
                       + ' WHERE LOAI_BN = 3 and SUBSTR(MA_DKBD,1,2) != SUBSTR(MA_THE,4,2) '
                       + ' AND SUBSTR(MA_THE,1,2) = "TE" AND SUBSTR(MA_THE,8,3) = "000" AND KY_QT BETWEEN 202104 and 202104'
                       + ' Order By MA_THE', con)

In [78]:
DataOutput = df

In [79]:
# Export Data to Excel Error10
DataOutput.to_excel(r'D:\SOLIEU\DataOutput\THEDATUYENSAIDIACHI.xlsx',sheet_name='THEDATUYENSAIDIACHI')

In [80]:
# Phát sinh chi phí sau đợt điều trị đã mã hóa dữ liệu là tử vong
df = pd.read_sql_query(r'WITH data_nghingo AS ('
                       + ' SELECT Ma_CSKCB,MA_THE,KET_QUA_DTRI,NGAY_VAO,NGAY_RA'
                       + ' FROM bhyt7980a'
                       + ' WHERE KET_QUA_DTRI = 5 )'                    
                       + ' SELECT a.MA_CSKCB as CSKCBA,b.MA_CSKCB as CSKCBB,a.KET_QUA_DTRI as KET_QUA_DTRI_A, b.KET_QUA_DTRI as KET_QUA_DTRI_B, b.KY_QT,b.MA_BN,b.HO_TEN,b.NGAY_SINH,b.GIOI_TINH,b.MA_THE,b.MA_DKBD,b.GT_THE_TU,b.GT_THE_DEN,b.MA_BENH,b.MA_LYDO_VVIEN,a.NGAY_VAO,a.NGAY_RA,b.NGAY_VAO as NGAY_VAO_B,b.NGAY_RA as NGAY_RA_B,b.SO_NGAY_DTRI,b.T_TONGCHI,b.T_BNTT,b.T_BHTT,b.T_BNCCT,b.MA_KHOA,b.NAM_QT,b.QUY_QT,b.MA_LOAI_KCB'
                       + ' FROM data_nghingo a'
                       + ' INNER JOIN bhyt7980a b'
                       + ' ON a.MA_THE = b.MA_THE AND a.NGAY_VAO < b.NGAY_VAO'
                         ' WHERE KY_QT BETWEEN 202104 and 202104'  
                       + ' Order By a.MA_THE', con)

In [81]:
DataOutput = df

In [82]:
# Export Data to Excel Error11
DataOutput.to_excel(r'D:\SOLIEU\DataOutput\CHIPHISAUDOTDIEUTRITUVONG.xlsx',sheet_name='CHIPHISAUDOTDIEUTRITUVONG')

In [83]:
# Lọc điều kiện đăng ký ban đầu theo quy tắc đúng tuyến , trái tuyến , thông tuyến 
df = pd.read_sql_query(r'Select Case'
                       + ' WHEN MA_CSKCB in (93001) THEN 93001'
                       + ' WHEN MA_CSKCB in (93002,93048,93049,93050,93051,93052,93053,93054,93055,93057,93080) THEN 93002'
                       + ' WHEN MA_CSKCB in (93003,93019,93058,93059,93060,93061,93092,93094,93097,93104) THEN 93003'
                       + ' WHEN MA_CSKCB in (93004,93035,93036,93037,93038,93039,93040,93041,93042,93043,93044,93045,93046,93047,93089,93090) THEN 93004' 
                       + ' WHEN MA_CSKCB in (93005,93026,93027,93028,93029,93030,93031,93032,93033,93087) THEN 93005'
                       + ' WHEN MA_CSKCB in (93006,93018,93020,93022,93023,93024,93025,93073,93083,93084,93086) THEN 93006'
                       + ' WHEN MA_CSKCB in (93007,93009,93010,93011,93012,93013,93014,93015,93017,93082) THEN 93007'
                       + ' WHEN MA_CSKCB in (93016,93067,93068,93069,93070,93071,93072) THEN 93016'
                       + ' WHEN MA_CSKCB in (93078,93062,93063,93064,93065,93066,93095,93096,93098) THEN 93078'
                       + ' WHEN MA_CSKCB in (93008) THEN 93008'
                       + ' WHEN MA_CSKCB in (93100) THEN 93100'
                       + ' WHEN MA_CSKCB in (93101) THEN 93101'
                       + ' WHEN MA_CSKCB in (93102) THEN 93102'
                       + ' WHEN MA_CSKCB in (93103) THEN 93103'
                       + ' WHEN MA_CSKCB in (93105) THEN 93105'
                       + ' WHEN MA_CSKCB in (93106) THEN 93106'
                       + ' ELSE 93107'
                       + ' END As "Ma_Cha_KCB",'
                       + ' Case WHEN MA_DKBD in (93001) THEN 93001'
                       + ' WHEN MA_DKBD in (93002,93048,93049,93050,93051,93052,93053,93054,93055,93057,93080) THEN 93002'
                       + ' WHEN MA_DKBD in (93003,93019,93058,93059,93060,93061,93092,93094,93097,93104) THEN 93003'
                       + ' WHEN MA_DKBD in (93004,93035,93036,93037,93038,93039,93040,93041,93042,93043,93044,93045,93046,93047,93089,93090) THEN 93004'
                       + ' WHEN MA_DKBD in (93005,93026,93027,93028,93029,93030,93031,93032,93033,93087) THEN 93005'
                       + ' WHEN MA_DKBD in (93006,93018,93020,93022,93023,93024,93025,93073,93083,93084,93086) THEN 93006'
                       + ' WHEN MA_CSKCB in (93007,93009,93010,93011,93012,93013,93014,93015,93017,93082) THEN 93007'
                       + ' WHEN MA_DKBD in (93016,93067,93068,93069,93070,93071,93072) THEN 93016'
                       + ' WHEN MA_DKBD in (93078,93062,93063,93064,93065,93066,93095,93096,93098) THEN 93078'
                       + ' WHEN MA_DKBD in (93008) THEN 93008'
                       + ' WHEN MA_DKBD in (93100) THEN 93100'
                       + ' WHEN MA_DKBD in (93101) THEN 93101'
                       + ' WHEN MA_DKBD in (93102) THEN 93102'
                       + ' WHEN MA_DKBD in (93103) THEN 93103'
                       + ' WHEN MA_DKBD in (93105) THEN 93105'
                       + ' WHEN MA_DKBD in (93106) THEN 93106'
                       + ' WHEN MA_DKBD in (93107) THEN 93107'
                       + ' ELSE MA_DKBD END As "Ma_Cha_DKBD",'
                       + ' SUBSTR(MA_DKBD,1,2) as "DKBD_KT",'
                       + ' MA_CSKCB,MA_DKBD,KY_QT,MA_BN,HO_TEN,NGAY_SINH,GIOI_TINH,MA_THE,GT_THE_TU,GT_THE_DEN,MA_NOI_CHUYEN,'
                       + ' MA_BENH,TEN_BENH,MA_LYDO_VVIEN,NGAY_VAO,NGAY_RA,SO_NGAY_DTRI,T_TONGCHI,T_XN,T_CDHA,T_THUOC,T_MAU,T_TTPT,'
                       + ' T_VTYT,T_DVKT_TYLE,T_THUOC_TYLE,T_VTYT_TYLE,T_KHAM,T_GIUONG,T_VCHUYEN,T_BNTT,T_BHTT,T_BNCCT,MA_KHOA,NAM_QT,'
                       + ' QUY_QT,MA_LOAI_KCB'
                       + ' from bhyt7980a'
                       + ' WHERE MA_LYDO_VVIEN not in (2,3) AND MA_NOI_CHUYEN IS NULL AND KY_QT BETWEEN 202104 and 202104', con)

In [84]:
DataOutput = df

In [85]:
def set_lydovv(DataOutput):
    if ((DataOutput["MA_CSKCB"] == DataOutput["MA_DKBD"]) & (DataOutput["MA_LYDO_VVIEN"] == 1)):
        return 'TRUE'
    elif ((DataOutput["DKBD_KT"] == "93") & (DataOutput["MA_DKBD"] != "93001") & (DataOutput["MA_DKBD"] != "93007") & (DataOutput["MA_LYDO_VVIEN"] == 4)):
        return 'TRUE'
    elif ((DataOutput["DKBD_KT"] == "93") & ((DataOutput["MA_DKBD"] == "93001") | (DataOutput["MA_DKBD"] == "93007"))  & (DataOutput["MA_LYDO_VVIEN"] == 3)):
        return 'TRUE'
    elif ((DataOutput["DKBD_KT"] != "93") & (DataOutput["MA_LYDO_VVIEN"] == 3)):
        return 'TRUE'
    else:
        return 'FALSE'
    

DataOutput['GHICHU'] = DataOutput.apply(set_lydovv, axis=1)


# Tạo điều kiện lọc hồ sơ
index_names = DataOutput[DataOutput['GHICHU'] == 'TRUE'].index 

# thực hiện xoá các hồ sơ cso điều kiện là đúng
DataOutput.drop(index_names, inplace = True)
DataOutput.pop("Ma_Cha_KCB")
DataOutput.pop("Ma_Cha_DKBD")
DataOutput.pop("DKBD_KT")

30        94
33        68
48        86
51        93
58        79
          ..
115522    93
115523    93
115524    93
115525    93
115526    93
Name: DKBD_KT, Length: 24031, dtype: object

In [86]:
# Export Data to Excel Error12
DataOutput.to_excel(r'D:\SOLIEU\DataOutput\CANHBAOLYDOVVSAI.xlsx',sheet_name='CANHBAOLYDOVVSAI')