In [1]:
import pandas as pd
import glob
import matplotlib.pyplot as plt
import numpy as np

In [2]:
result = pd.read_excel(r"D:\SOLIEU\CUOCTHIVSSID\Data_Final_TRUONG\THONGHOP_TRUONG_17102022.xlsx")

In [3]:
data = result[['MA_TRUONG','TEN_TRUONG']]

In [4]:
data = data.drop_duplicates()
data

       MA_TRUONG                  TEN_TRUONG
0             24            THCS Đông Phú CT
554           27        THCS Đông Phước A CT
1107          87       THCS Lê Hồng Phong CT
1919          22  THCS Nam Kỳ Khởi Nghĩa  CT
2419          21        THCS Ngô Hữu Hạnh CT
...          ...                         ...
60942         77         THCS Trà Lồng TXLMY
61437         78    THCS Trịnh Văn Thì TXLMY
61980         82          THCS Tân Phú TXLMY
62359         83          THPT Long Mỹ TXLMY
64328         84          THPT Tân Phú TXLMY

[85 rows x 2 columns]

In [5]:
for index, row in data.iterrows():
    filter_data = result.loc[result['MA_TRUONG'] == row['MA_TRUONG']]
    link = "TRUONG_" + str(row['TEN_TRUONG'])
    filter_data.to_excel(r'D:\SOLIEU\CUOCTHIVSSID\Data_Final_TRUONG\CHITIET' + "\\" + link + ".xlsx",index = False ) # xuất dữ liệu ra tập tin Excel