In [1]:
import pandas as pd
import glob
import matplotlib.pyplot as plt
import numpy as np
import sqlite3

In [3]:
link = r'D:\SOLIEU\THAMDINHCn\CSKCB93078\TAI'
FileName = r'\CSKCB93102_C7KCB_2.xlsx'
MA_CSKCB = '93102'
TABLE_CSKCB = "CSKCB_93078_2"
con = sqlite3.connect(r'D:\DATACSDL\CSDL\DataCn\NAM2020-2021\93_20220329_202001_202112_bao_cao_gsgd_bhyt7980b_final.db')
ConnectString = link + FileName

In [ ]:
result = pd.read_excel(ConnectString)

In [ ]:
condition = "("
for i in range(len(result)):   
    if (len(result) - i - 1 == 0) :
        condition += "'" + str(result.loc[i, "MA_BENH"]) + "')"
    else :
        condition += "'" + str(result.loc[i, "MA_BENH"]) + "',"

In [ ]:
sql_query_condition1 = (r' WHERE MA_CSKCB = ' + MA_CSKCB + ' AND MA_LOAIKCB = 3 AND SUBSTR(MA_BENH,1,3) IN ')

In [ ]:
# dữ liệu cần lấy khi thực thi câu lệnh SQL.
sql_query = (r''
            + 'SELECT XML1_ID,MA_CSKCB,MA_LOAI_KCB_CN,MA_BENH,MA_BENHKHAC,T_BHTT_SAU_CCG,LOAI_BN'        
            +' from ')

In [ ]:
Link = sql_query + TABLE_CSKCB + sql_query_condition1 + condition

In [ ]:
# Begin kiểm tra mã đăng ký ban đầu đối với bệnh viện chuyên khoa do hiện tại chưa có thẻ đăng ký ban đầu tại 2 CSCKB trên địa bàn tỉnh
df = pd.read_sql_query(Link, con)

In [ ]:
df["CHITIET"] = df["MA_BENHKHAC"].str.split(";")

In [ ]:
df = df.explode('CHITIET')

In [ ]:
#data = result[(result['CHITIET'] == 'M60') | (result['CHITIET'] == 'E58')]
data = df
data.to_excel(r'D:\SOLIEU\THAMDINHCn\CSKCB93078\TAI\Data_DETECT.xlsx')

In [ ]:
# dữ liệu cần lấy khi thực thi câu lệnh SQL.
sql_query = (r''
            + 'SELECT XML1_ID,MA_CSKCB,MA_LOAI_KCB_CN,MA_BENH,MA_BENHKHAC,T_BHTT_SAU_CCG,LOAI_BN'           
            +' from ')
            
sql_query_condition1 = (r' WHERE T_TONGCHI != T_KHAM AND MA_CSKCB = ' + MA_CSKCB + ' AND MA_LOAIKCB = 1 AND SUBSTR(BENH_DUNG,1,3) = "M25"'
                        # + ' AND (MA_BENHKHAC LIKE "%E11" or MA_BENHKHAC LIKE "%E11%" or MA_BENHKHAC LIKE "E11%")')
                        + ' AND MA_BENHKHAC NOTNULL AND NAM_QT = 2021')
Link = sql_query + TABLE_CSKCB + sql_query_condition1

In [ ]:
df = pd.read_sql_query(Link, con)
df["CHITIET"] = df["MA_BENHKHAC"].str.split(";")
df = df.explode('CHITIET')
#data = result[(result['CHITIET'] == 'M60') | (result['CHITIET'] == 'E58') ]
data = df
data.to_excel(r'D:\SOLIEU\THAMDINHCn\CSCKB93016\TAI\Data_Change_Temp.xlsx')

In [8]:
#df = pd.read_sql_query(Link, con)
df = pd.read_sql_query('SELECT XML1_ID,MA_CSKCB,MA_LOAI_KCB_CN,MA_BENH,MA_BENHKHAC,T_BHTT_SAU_CCG,LOAI_BN from CSKCB_93005_2  WHERE T_TONGCHI != T_KHAM AND MA_CSKCB = 93005 AND MA_LOAIKCB = 1 and MA_BENHKHAC NOTNULL and NAM_QT = 2021', con)
df["CHITIET"] = df["MA_BENHKHAC"].str.split(";")
df = df.explode('CHITIET')
#data = result[(result['CHITIET'] == 'M60') | (result['CHITIET'] == 'E58') ]
data = df
data.to_excel(r'D:\SOLIEU\THAMDINHCn\CSCKB93005\TAI\Data_Change_Temp.xlsx')