In [1]:
import pandas as pd
import glob
import matplotlib.pyplot as plt
import numpy as np

Tổng hợp số liệu báo cáo giám định hàng tháng

In [2]:
files = [] # Biến chứa các dữ liệu file Excel sau khi tải vào dataframe
file_list = glob.glob(r'C:\Users\Lenovo\Desktop\Excel\THANGQT\*.xlsx')

In [3]:
for filename in file_list:
    df = pd.concat(pd.read_excel(filename, sheet_name=None), ignore_index=True)
    files.append(df)
frame = pd.concat(files, axis=0, ignore_index=True)

In [4]:
data = frame

In [5]:
data.loc[data['MA_CSKCB'] == 93001, 'MA_CHA'] = '93001'
data.loc[(data['MA_CSKCB'] == 93002) | (data['MA_CSKCB'] == 93048) | (data['MA_CSKCB'] == 93049) | (data['MA_CSKCB'] == 93050) | (data['MA_CSKCB'] == 93051) | (data['MA_CSKCB'] == 93052)| (data['MA_CSKCB'] == 93053) | (data['MA_CSKCB'] == 93054) | (data['MA_CSKCB'] == 93055) | (data['MA_CSKCB'] == 93057)  | (data['MA_CSKCB'] == 93080), 'MA_CHA'] = '93002'
data.loc[(data['MA_CSKCB'] == 93003) | (data['MA_CSKCB'] == 93019) | (data['MA_CSKCB'] == 93058) | (data['MA_CSKCB'] == 93059) | (data['MA_CSKCB'] == 93060) | (data['MA_CSKCB'] == 93061)| (data['MA_CSKCB'] == 93092) | (data['MA_CSKCB'] == 93094) | (data['MA_CSKCB'] == 93097)  | (data['MA_CSKCB'] == 93104), 'MA_CHA'] = '93003'
data.loc[(data['MA_CSKCB'] == 93004) | (data['MA_CSKCB'] == 93035) | (data['MA_CSKCB'] == 93036) | (data['MA_CSKCB'] == 93037) | (data['MA_CSKCB'] == 93038) | (data['MA_CSKCB'] == 93039)| (data['MA_CSKCB'] == 93040) | (data['MA_CSKCB'] == 93041) | (data['MA_CSKCB'] == 93042)  | (data['MA_CSKCB'] == 93043) | (data['MA_CSKCB'] == 93044) | (data['MA_CSKCB'] == 93045) | (data['MA_CSKCB'] == 93046) | (data['MA_CSKCB'] == 93047) | (data['MA_CSKCB'] == 93089) | (data['MA_CSKCB'] == 93090), 'MA_CHA'] = '93004'
data.loc[(data['MA_CSKCB'] == 93005) | (data['MA_CSKCB'] == 93026) | (data['MA_CSKCB'] == 93027) | (data['MA_CSKCB'] == 93028) | (data['MA_CSKCB'] == 93029) | (data['MA_CSKCB'] == 93030)| (data['MA_CSKCB'] == 93031) | (data['MA_CSKCB'] == 93032) | (data['MA_CSKCB'] == 93033)  | (data['MA_CSKCB'] == 93087), 'MA_CHA'] = '93005'
data.loc[(data['MA_CSKCB'] == 93006) | (data['MA_CSKCB'] == 93018) | (data['MA_CSKCB'] == 93020) | (data['MA_CSKCB'] == 93022) | (data['MA_CSKCB'] == 93023) | (data['MA_CSKCB'] == 93024)| (data['MA_CSKCB'] == 93025) | (data['MA_CSKCB'] == 93073) | (data['MA_CSKCB'] == 93083)  | (data['MA_CSKCB'] == 93084) | (data['MA_CSKCB'] == 93086), 'MA_CHA'] = '93006'
data.loc[(data['MA_CSKCB'] == 93109) | (data['MA_CSKCB'] == 93009) | (data['MA_CSKCB'] == 93010) | (data['MA_CSKCB'] == 93011) | (data['MA_CSKCB'] == 93012) | (data['MA_CSKCB'] == 93013)| (data['MA_CSKCB'] == 93014) | (data['MA_CSKCB'] == 93015) | (data['MA_CSKCB'] == 93017)  | (data['MA_CSKCB'] == 93082), 'MA_CHA'] = '93109'
data.loc[(data['MA_CSKCB'] == 93016) | (data['MA_CSKCB'] == 93067) | (data['MA_CSKCB'] == 93068) | (data['MA_CSKCB'] == 93069) | (data['MA_CSKCB'] == 93070) | (data['MA_CSKCB'] == 93071)| (data['MA_CSKCB'] == 93072), 'MA_CHA'] = '93016'
data.loc[(data['MA_CSKCB'] == 93078) | (data['MA_CSKCB'] == 93062) | (data['MA_CSKCB'] == 93063) | (data['MA_CSKCB'] == 93064) | (data['MA_CSKCB'] == 93065) | (data['MA_CSKCB'] == 93066)| (data['MA_CSKCB'] == 93095)| (data['MA_CSKCB'] == 93096)| (data['MA_CSKCB'] == 93098), 'MA_CHA'] = '93078'
data.loc[data['MA_CSKCB'] == 93007, 'MA_CHA'] = '93007'
data.loc[data['MA_CSKCB'] == 93008, 'MA_CHA'] = '93008'
data.loc[data['MA_CSKCB'] == 93100, 'MA_CHA'] = '93100'
data.loc[data['MA_CSKCB'] == 93101, 'MA_CHA'] = '93101'
data.loc[data['MA_CSKCB'] == 93102, 'MA_CHA'] = '93102'
data.loc[data['MA_CSKCB'] == 93103, 'MA_CHA'] = '93103'
data.loc[data['MA_CSKCB'] == 93105, 'MA_CHA'] = '93105'
data.loc[data['MA_CSKCB'] == 93106, 'MA_CHA'] = '93106'
data.loc[data['MA_CSKCB'] == 93107, 'MA_CHA'] = '93107'
data.loc[data['MA_CSKCB'] == 93110, 'MA_CHA'] = '93110'

In [14]:
data.loc[data['MA_LOAIKCB'] == 1, 'LOAIKCB'] = '1.ĐKBD'
data.loc[data['MA_LOAIKCB'] == 2, 'LOAIKCB'] = '2.Nội tỉnh'
data.loc[data['MA_LOAIKCB'] == 3, 'LOAIKCB'] = '3.Ngoại tỉnh'

In [18]:
table = pd.pivot_table(frame,
                    index=['MA_CHA'],
                    columns=['LOAIKCB'],
                    values=['T_BHTT'],
                    aggfunc=[np.size,np.sum],
                    margins = True,
                    margins_name='Tổng cộng')

In [19]:
pd.options.display.float_format = '{:,.2f}'.format
table

              size                                 sum                 \
            T_BHTT                              T_BHTT
LOAIKCB     1.ĐKBD 2.Nội tỉnh Tổng cộng         1.ĐKBD     2.Nội tỉnh
MA_CHA
93001     3,378.00     109.00  3,487.00 788,171,497.72 758,090,285.01
Tổng cộng 3,378.00     109.00  3,487.00 788,171,497.72 758,090,285.01



LOAIKCB          Tổng cộng
MA_CHA
93001     1,546,261,782.73
Tổng cộng 1,546,261,782.73

In [13]:
# Export Data to Excel
DataOutput = table
DataOutput = table.replace(np.nan, 0) # Nan thành số 0
DataOutput.to_excel(r'D:\SOLIEU\TONGHOPBAOCAOGIAMDINH.xlsx',index = False) # xuất dữ liệu ra tập tin Excel