In [1]:
import pandas as pd
import glob
import matplotlib.pyplot as plt
import numpy as np
import sqlite3

#  Tổng hợp số liệu đa tuyến đi từ năm 2017 - 8 tháng năm 2021

In [19]:
# Read sqlite query results into a pandas DataFrame
con = sqlite3.connect(r'D:\DATACSDL\CSDL\2017\93_20181114_201701_201712__bao_cao_bhyt7980a_dtdi.db')

In [20]:
# Begin kiểm tra mã đăng ký ban đầu đối với bệnh viện chuyên khoa do hiện tại chưa có thẻ đăng ký ban đầu tại 2 CSCKB trên địa bàn tỉnh
df = pd.read_sql_query(r'select MA_THE,sum(T_BHTT) from bhyt7980a_dtdi GROUP BY MA_THE', con)

In [21]:
files = []

In [22]:
files.append(df)

In [23]:
# Read sqlite query results into a pandas DataFrame
con = sqlite3.connect(r'D:\DATACSDL\CSDL\2018\93_20190114_201801_201812__bao_cao_bhyt7980a_dtdi.db')

In [24]:
# Begin kiểm tra mã đăng ký ban đầu đối với bệnh viện chuyên khoa do hiện tại chưa có thẻ đăng ký ban đầu tại 2 CSCKB trên địa bàn tỉnh
df = pd.read_sql_query(r'select MA_THE,sum(T_BHTT) from bhyt7980a_dtdi GROUP BY MA_THE', con)

In [25]:
files.append(df)

In [26]:
# Read sqlite query results into a pandas DataFrame
con = sqlite3.connect(r'D:\DATACSDL\CSDL\2019\93_20200109_201901_201912__bao_cao_bhyt7980a_dtdi.db')

In [27]:
# Begin kiểm tra mã đăng ký ban đầu đối với bệnh viện chuyên khoa do hiện tại chưa có thẻ đăng ký ban đầu tại 2 CSCKB trên địa bàn tỉnh
df = pd.read_sql_query(r'select MA_THE,sum(T_BHTT) from bhyt7980a_dtdi GROUP BY MA_THE', con)

In [28]:
files.append(df)

In [29]:
# Read sqlite query results into a pandas DataFrame
con = sqlite3.connect(r'D:\DATACSDL\CSDL\2020\93_20210110_202001_202012_bao_cao_bhyt7980a_dtdi.db')

In [30]:
# Begin kiểm tra mã đăng ký ban đầu đối với bệnh viện chuyên khoa do hiện tại chưa có thẻ đăng ký ban đầu tại 2 CSCKB trên địa bàn tỉnh
df = pd.read_sql_query(r'select MA_THE,sum(T_BHTT) from bhyt7980a_dtdi GROUP BY MA_THE', con)

In [31]:
files.append(df)

In [32]:
# Read sqlite query results into a pandas DataFrame
con = sqlite3.connect(r'D:\DATACSDL\CSDL\2021\93_20210912_202101_202108_bao_cao_bhyt7980a_dtdi.db')

In [33]:
# Begin kiểm tra mã đăng ký ban đầu đối với bệnh viện chuyên khoa do hiện tại chưa có thẻ đăng ký ban đầu tại 2 CSCKB trên địa bàn tỉnh
df = pd.read_sql_query(r'select MA_THE,sum(T_BHTT) from bhyt7980a_dtdi GROUP BY MA_THE', con)

In [34]:
files.append(df)

In [35]:
frame = pd.concat(files, axis=0, ignore_index=True)
DataOutput = frame
DataOutput.to_excel(r'D:\SOLIEU\TONGHOPSOLIEUDATUYEN.xlsx')

# Tổng hợp số liệu năm 2016

In [136]:
result = pd.read_excel(r'D:\SOLIEU\KHODULIEU\DULIEUMABENH\UNGTHU.xlsx')

In [137]:
#result.head()

In [138]:
# Read All File Excel in Directory and merge all sheet in file excel to one Sheet
file_list = glob.glob(r'D:\SOLIEU\2012\DATA2012\*.xlsx')
# create list file excel
files = []

In [139]:
for filename in file_list:
    df = pd.concat(pd.read_excel(filename, sheet_name=None), ignore_index=True)
    files.append(df)
frame = pd.concat(files, axis=0, ignore_index=True)

In [140]:
data = frame

In [141]:
#data.head()
#data.info()

In [142]:
df_all = pd.merge(data, result, left_on=['mabenh'] , right_on= ['MA_BENH'] , how='left', indicator=True)

In [143]:
df_all = df_all[(df_all['_merge'] == "both")]

In [144]:
df_all.head()

,stt,hoten,namsinh,gioitinh,mathe,ma_dkbd,mabenh,ngay_vao,ngay_ra,ngaydtr,...,gt_tu,gt_den,diachi,tuyen,tuyen_xa,matinh,madtcu,quy_qt,MA_BENH,_merge
61,62,V­¬ng V¨n Thanh,1945,1,CK2930000800072,93001,C18,2012-06-27 00:00:00,- -,0,...,- -,- -,NaN,1,NaN,93,NaN,3,C18,both
879,880,NguyÔn V¨n Trang,1929,1,BT4930100500165,93001,C18,2012-07-19 00:00:00,- -,0,...,- -,- -,NaN,1,NaN,93,NaN,3,C18,both
1472,1473,NguyÔn Thanh S¬n,1980,1,CH7930011800011,93001,C76,2012-06-26 00:00:00,- -,0,...,- -,- -,NaN,1,NaN,93,NaN,3,C76,both
1811,1812,Mai T Thanh Th¶o,1983,2,CH7930008100257,93001,C18,2012-07-03 00:00:00,- -,0,...,- -,- -,NaN,1,NaN,93,NaN,3,C18,both
3018,3019,Huúnh Vò Thiªn Hµo,2011,1,TE1930004301067,93001,C76,2012-07-24 00:00:00,- -,0,...,- -,- -,NaN,1,NaN,93,NaN,3,C76,both

# Danh sách ung thư năm 2016

In [145]:
DataOutput = df_all
DataOutput.to_excel(r'D:\SOLIEU\2012\OUTPUT\UNGTHU.xlsx')

In [146]:
data = frame

In [147]:
result = pd.read_excel(r'D:\SOLIEU\KHODULIEU\DULIEUMABENH\LOCTHAN.xlsx')

In [148]:
df_all = pd.merge(data, result, left_on=['mabenh'] , right_on= ['MA_BENH'] , how='left', indicator=True)

In [149]:
df_all = df_all[(df_all['_merge'] == "both")  & (df_all['t_pttt'] > 0)]

# Danh sách lọc thận năm 2016

In [150]:
# Export Data to Excel
DataOutput = df_all
DataOutput.to_excel(r'D:\SOLIEU\2012\OUTPUT\LOCTHAN.xlsx')

# Danh sách bệnh tim năm 2016

In [151]:
data = frame

In [152]:
result = pd.read_excel(r'D:\SOLIEU\KHODULIEU\DULIEUMABENH\TIM.xlsx')

In [153]:
df_all = pd.merge(data, result, left_on=['mabenh'] , right_on= ['MA_BENH'] , how='left', indicator=True)

In [154]:
df_all = df_all[(df_all['_merge'] == "both")  & (df_all['t_pttt'] > 0)]

In [155]:
# Export Data to Excel
DataOutput = df_all
DataOutput.to_excel(r'D:\SOLIEU\2012\OUTPUT\TIM.xlsx')

# Danh sách ngoại khoa năm 2016

In [156]:
data = frame

In [157]:
df_all =  data[(data['t_pttt'] > 400000)]

In [158]:
# Export Data to Excel
DataOutput = df_all
DataOutput.to_excel(r'D:\SOLIEU\2012\OUTPUT\NGOAIKHOA.xlsx')

# Ghép dữ liệu từ năm 2012 - 2016

In [2]:
# Read All File Excel in Directory and merge all sheet in file excel to one Sheet
file_list = glob.glob(r'D:\SOLIEU\2016\DULIEUBHXHVN\DATA\*.xlsx')
# create list file excel
files = []

In [3]:
for filename in file_list:
    df = pd.concat(pd.read_excel(filename, sheet_name=None), ignore_index=True)
    files.append(df)
frame = pd.concat(files, axis=0, ignore_index=True)

In [13]:
List2016 = frame["ma_the", "t_bhtt"]

In [7]:
List2016

                  ma_the   t_bhtt
0        BT1930100800317    23980
1        BT1930203600023    11470
2        BT2910700313467    10000
3        BT2910700313511     7000
4        BT2910700313511   100200
...                  ...      ...
1632393  GD4910701516719   290813
1632394  GD4910100509871   219840
1632395  BT2910700407288  1025848
1632396  GD4910100321327   160650
1632397  GD4910800405686   465502

[1632398 rows x 2 columns]

In [14]:
DataOutput = List2016.sort_values(by='t_bhtt', ascending=False)

In [16]:
DataOutput.head(10).to_excel(r'D:\SOLIEU\2016\DULIEUBHXHVN\CHIPHICAO.xlsx')

# Chi phí cao trong và ngoài tỉnh

In [ ]:
# lưu trữ các dữ liệu sau khi kết xuất
files = []

In [2]:
# Năm 2020 đa tuyến đi
con = sqlite3.connect(r'D:\DATACSDL\CSDL\2020\93_20210110_202001_202012_bao_cao_bhyt7980a_dtdi.db')

In [3]:
df = pd.read_sql_query(r'select MA_THE,sum(T_BHTT) from bhyt7980a_dtdi WHERE SUBSTR(MA_THE,1,2) IN ("HS","SV") GROUP BY MA_THE', con)

In [5]:
files.append(df)

In [6]:
# năm 2019 và năm 2020 trong tỉnh
con = sqlite3.connect(r'D:\DATACSDL\CSDL\SL2019-2002Final_GIAMSAT\93_20210907_201901_202012_bao_cao_gsgd_bhyt7980b_final.db')

In [7]:
df = pd.read_sql_query(r'select MA_THE,sum(T_BHTT) from gsgd_bhyt7980b_final WHERE SUBSTR(MA_THE,1,2) IN ("HS","SV") AND NAM_QT = 2020 GROUP BY MA_THE', con)

In [8]:
files.append(df)

In [9]:
# 8 tháng đầu năm 2021 trong tỉnh
con = sqlite3.connect(r'D:\DATACSDL\CSDL\2021\93_20210912_202101_202108_bao_cao_bhyt7980a.db')

In [10]:
df = pd.read_sql_query(r'select MA_THE,sum(T_BHTT) from bhyt7980a WHERE SUBSTR(MA_THE,1,2) IN ("HS","SV") AND KY_QT BETWEEN 202101 AND 202107 GROUP BY MA_THE', con)

In [11]:
files.append(df)

In [12]:
# 8 tháng đầu năm 2021 đa tuyến đi
con = sqlite3.connect(r'D:\DATACSDL\CSDL\2021\93_20210912_202101_202108_bao_cao_bhyt7980a_dtdi.db')

In [13]:
df = pd.read_sql_query(r'select MA_THE,sum(T_BHTT) from bhyt7980a_dtdi WHERE SUBSTR(MA_THE,1,2) IN ("HS","SV") AND KY_QT BETWEEN 202101 AND 202107 GROUP BY MA_THE', con)

In [14]:
files.append(df)

In [16]:
result = frame.groupby(['MA_THE']).sum()

In [17]:
# sắp xếp theo giá trị giảm dần
DataOutput = result.sort_values(by='sum(T_BHTT)', ascending=False)
# định dạng lại kiểu phân cách
pd.options.display.float_format = '{:,.2f}'.format

                   sum(T_BHTT)
MA_THE
HS4939321648485 348,510,455.92
HS4939321099516 332,144,439.18
HS4939122656701 312,340,503.18
HS4939320980249 253,022,958.55
HS4939321800853 199,096,078.12
HS4939320940629 171,349,760.82
HS4939321681470  98,320,866.71
HS4939321704832  94,863,842.74
HS4939321823304  92,474,346.00
HS4939320838144  85,605,728.68

In [18]:
# Xuất ra danh sách 10 người đầu tiên
DataOutput.head(10).to_excel(r'D:\SOLIEU\CHIPHICAO200-7THANG2021.xlsx')